{% extends "base.html" %}
{% load i18n %}
{% block title %}Signup{% endblock %}
{% block content %}

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <article class="card mb-4 no-border-card">
          <header class="card-header text-center">
            <h2 class="card-title fs-2">Sign Up</h2>
          </header>
          <div class="card-body">
            <form method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              <!-- Non-field errors -->
              {% if form.non_field_errors %}
                <div class="mb-2 text-danger">
                  {{ form.non_field_errors }}
                </div>
              {% endif %}
              <!-- Username field with errors -->
              <div class="mb-2">
                <div class="mb-1">{{ form.username.label_tag }}</div>
                <div class="mb-1">
                  {{ form.username }}
                  {% if form.username.errors %}
                    <div class="my-1 text-danger">{{ form.username.errors }}</div>
                  {% endif %}
                </div>
              </div>
              <!-- Email field with errors -->
              <div class="mb-2">
                <div class="mb-1">{{ form.email.label_tag }}</div>
                <div class="mb-1">
                  {{ form.email }}
                  {% if form.email.errors %}
                    <div class="my-1 text-danger">{{ form.email.errors }}</div>
                  {% endif %}
                </div>
              </div>
              <!-- Password1 field with errors -->
              <div class="mb-2">
                <div class="mb-1">{{ form.password1.label_tag }}</div>
                <div class="mb-1">
                  {{ form.password1 }}
                  <small id="id_password1_helptext" class="form-text text-muted">Your password must be at least 8 characters long and cannot be entirely numeric.</small>
                  {% if form.password1.errors %}
                    <div class="my-1 text-danger">{{ form.password1.errors }}</div>
                  {% endif %}
                </div>
              </div>
              <!-- Password2 field with errors -->
              <div class="mb-3">
                <div class="mb-1">{{ form.password2.label_tag }}</div>
                <div class="mb-1">
                  {{ form.password2 }}
                  {% if form.password2.errors %}
                    <div class="my-1 text-danger">{{ form.password2.errors }}</div>
                  {% endif %}
                </div>
              </div>
              <!-- Important Note -->
              <div class="alert alert-warning mt-2 px-3">
                <strong>Important Note:</strong> Please keep your password written down in a safe place, as there is no possibility of recovery if forgotten.
              </div>
              <!-- Accept_rules field with errors -->
              <div class="password-rules px-3">
                {{ form.accept_rules.label_tag }} {{ form.accept_rules }}
                {% if form.accept_rules.errors %}
                  <div class="my-1 text-danger">{{ form.accept_rules.errors }}</div>
                {% endif %}
              </div>
              <div class="mt-3 text-center px-3">
                <button class="btn btn-primary px-5" type="submit" aria-label="Sign Up">
                  {% trans "Sign Up" %}
                </button>
              </div>
            </form>
          </div>
        </article><!-- /.card -->
      </div>
    </div>
  </div>

{% endblock %}
