<!-- posts/templates/account/signup.html -->
{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign Up" %}</h3>
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
            </form>
            <!-- Important Note -->
            <div class="alert alert-warning mt-3">
                <strong>Important Note:</strong> Please keep your password written down in a safe place, as there is no possibility of recovery if forgotten.
            </div>
        </div>
    </div>
</div>
{% endblock %}
