{% extends "base.html" %}
{% block title %}Access Restricted{% endblock %}
{% block content %}

<section class="container-fluid text-center card mt-4">
  <h2 class="sr-only">Restricted Area</h2>
  <div class="row justify-content-center">
    <div class="col-md-8 align-self-center no-border-card">
      <a href="{% url 'account_login' %}?next={% url 'events' %}">
        <img
        src="https://res.cloudinary.com/daluxpssk/image/upload/v1718964804/For_Registered_Users_Only_h8xhgh.webp"
        class="restricted-area-card-img"
        alt="Restricted area image"
        >
      </a>
      <div class="card-body">
        This area is only available to registered users. Please
        <a href="{% url 'account_signup' %}">sign up</a>
        or
        <a href="{% url 'account_login' %}?next={% url 'events' %}">log in</a>
        to view the events.
      </div>
    </div>
  </div>
</section>
{% endblock %}
