{% extends 'base.html' %}
{% load static %}
{% block content %}

<section
  id="hero"
  class="d-flex align-items-center text-center justify-content-center"
>
  {% if user.is_authenticated and user.is_staff %}
  <div class="container text-center position-relative">
    <h1 class="text-white mb-4">Welcome back, Admin {{ user.username|truncatechars:50 }}!</h1>
    <p class="text-white mb-5">
      Thank you for managing our community. Click the button below to access the
      admin panel.
    </p>

    <p class="btn btn-outline text-center">
      <a href="{% url 'admin:index' %}" class="btn text-white"
        >Go to Admin Panel</a
      >
    </p>
  </div>
  {% elif user.is_authenticated %}
  <div class="container text-center position-relative">
    <h1 class="text-white mb-4">
      Welcome to Parenting in Munich, {{ user.username|truncatechars:50 }}!
    </h1>
    <p class="text-white mb-5">
      We're thrilled to have you with us! Explore our latest articles and
      events, tailored for new parents, parents-to-be, and expat families living
      in Munich and the surrounding area.
    </p>

    <p class="btn btn-outline text-center">
      <a href="{% url 'posts' %}" class="btn text-white">See Posts</a>
    </p>
    <p class="btn btn-outline text-center">
      <a href="{% url 'events' %}" class="btn text-white">See Events</a>
    </p>
  </div>
  {% else %}
  <div class="container text-center position-relative">
    <h1 class="text-white mb-4">Welcome to Parenting in Munich!</h1>
    <p class="text-white mb-5">
      This website is dedicated to new parents, parents-to-be, and expat
      families living in Munich and the surrounding area.
    </p>

    <p class="btn btn-outline text-center">
      <a href="{% url 'account_signup' %}" class="btn text-white">Join us!</a>
    </p>
  </div>
  {% endif %}
</section>
<!-- Content after hero -->
<section class="text-homepage p-4">
  <p class="into-text">
    Parenting is a journey filled with its own unique set of challenges, and
    when you find yourself in a new city or country, those challenges can become
    even more daunting. Whether it's navigating unfamiliar healthcare systems,
    adjusting to cultural differences in parenting styles, or simply feeling
    isolated without your usual support network, the journey of parenthood can
    feel overwhelming.
  </p>
  <p class="into-text">
    Here you'll discover more than just information and resources, you'll find a
    supportive community ready to accompany you on your parenting journey. From
    practical guidance on local childcare options to heartfelt encouragement
    from fellow expat families, this platform is designed to help you feel at
    home and confident in your parenting journey. Together, we'll navigate the
    ups and downs of raising children in a new environment, offering guidance,
    support, and a sense of belonging. Because no matter where you are in the
    world, every parent deserves to feel supported and empowered.
  </p>
</section>

{% endblock %}
