{% extends "base.html" %}
{% block title %}Access Restricted{% endblock %}
{% block content %}

<section class="container-fluid text-center card mt-4">
  <h2 class="sr-only">Restricted Area</h2>
  <div class="row justify-content-center">
    <div class="col-md-8 align-self-center no-border-card">
      <a href="{% url 'account_login' %}?next={{ request.path }}">
        <img
        src="https://res.cloudinary.com/daluxpssk/image/upload/v1719081171/DALL_E_2024-06-22_20.03.49_-_An_illustration_for_a_webpage_with_a_Restricted_Area_message._The_setting_is_a_peaceful_park_in_Munich_with_trees_a_few_people_casually_strolling_o_2_m420gf.webp"
        class="restricted-area-card-img"
        alt="Restricted area image"
        >
      </a>
      <div class="card-body">
        This area is only available to registered users. Please
        <a href="{% url 'account_signup' %}?next={{ request.GET.next }}">sign up</a>
        or
        <a href="{% url 'account_login' %}?next={{ request.GET.next }}">log in</a>
        to proceed.
      </div>
    </div>
  </div>
</section>
{% endblock %}
