/* From posts.html */

.image-flash {
}

.masthead {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 33vh;
  width: 100%;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.post-link {
  text-decoration: none;
  color: #2a3035;
}

.timeago {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.card {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.card-img {
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.card-img:hover {
  box-shadow: 0 18px 32px -18px black;
  transform: translateY(-6px);
}
