@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=PT+Sans+Caption:wght@400;700&display=swap");

:root {
  /* Fonts */
  --title: "EB Garamond", serif;
  --main-font: "PT Sans Caption", sans-serif;

  /* Colours */
  --black: #000;
  --dark-gray: #424242;
  --off-white: #f2f2f2;
  --white: #fff;
  --red: #d50000;

  /* Utils */
  --box-shadow: 0 18px 32px -18px var(--black);
  --border: 1px solid #00000030;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.align-items-center {
  align-items: center !important;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

header {
  flex-shrink: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Heros */
#hero {
  background: url("https://res.cloudinary.com/daluxpssk/image/upload/v1718834369/children-park3_1_d4j3ro.webp") center center;
}

#hero-logout {
  background: url("https://res.cloudinary.com/daluxpssk/image/upload/v1718810586/boys-playing-friends-children-playing-ecfc0c859c9f575352f9f012f6c97c60-2_pmrfhp.webp") center center;
}

#hero,
#hero-logout {
  flex: 1;
  display: flex;
  width: 100%;
  height: 90vh;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#hero:before,
#hero-logout:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

footer {
  flex-shrink: 0;
  background-color: var(--off-white);
  border-top: var(--border);
  padding: 4px 0;
  width: 100%;
}

.align-items-center {
  align-items: center !important;
}

#signup-container,
#login-container,
#user-profile-container,
#profile-update-container,
.error-page-img,
.rules-container {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
  font-weight: 700;
}

/* Links */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  transition: all 0.25s ease-in-out;
}

#logo,
.category-link a.btn:hover,
.post-link:hover,
.link-user-comment {
  text-decoration: none;
}

.post-link,
.category-link,
.comments-link,
.link-user-comment {
  color: inherit;
}

.list-group-item a:hover,
.comments-link:hover,
.link-user-comment:hover {
  text-decoration: underline;
}

#footer-links a {
  color: var(--dark-gray);
  text-decoration: none;
  justify-content: space-between;
}

/* Buttons */
.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-delete {
  text-transform: capitalize;
  color: var(--red);
  border-color: var(--red);
}

.btn-edit {
  text-transform: capitalize;
  color: var(--dark-gray);
  border-color: var(--dark-gray);
}

.btn-close-message {
  outline: none;
  border: none;
}

.btn-close-message:focus {
  box-shadow: none;
}

.alert .btn-close {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.btn-outline {
  border-color: var(--white);
  border-radius: 0;
}

/* Modal delete message */
.btn-close-white {
  color: var(--white);
  background-color: transparent;
}

/* Alert boxes */
.alert {
  border-radius: 0;
  position: relative;
  padding-right: 4rem;
}

/* allauth form fields */
#id_username,
#id_login,
#id_password,
#id_email,
#id_password1,
#id_password2,
#id_full_name,
#id_bio,
#id_location,
#id_custom_location {
  width: 100%;
  border-radius: 0;
}

/* allauth checkbox */
.form-check-input {
  border: 1px solid var(--dark-gray);
}

/* Navbar */
.navbar,
.card-header {
  background-color: var(--white) !important;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

/* Navbar search field in Posts */
.form-control {
  border-radius: 0;
  flex: 1;
}

/* Pagination */
.pagination {
  --bs-pagination-color: var(--black);
  --bs-pagination-hover-color: var(--dark-gray);
  --bs-pagination-focus-color: var(--dark-gray);
  --bs-pagination-active-bg: var(--dark-gray);
  --bs-pagination-active-border-color: var(--dark-gray);
  --bs-pagination-border-width: 0.5px;
  --bs-pagination-border-radius: 0;
}

.category-title {
  padding-bottom: 15px;
}

.card {
  padding: 10px;
  border: none;
  border-radius: 0;
}

.post-card {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-radius: 0;
}

.no-border-card {
  border-bottom: none;
}

.card-img {
  border-radius: 0;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-img:hover {
  box-shadow: var(--box-shadow);
  transform: translateY(-6px);
}

/* 404 and events restrict area pages */
.restricted-area-card-img {
  border-radius: 0;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  height: 75vh;
  max-width: 100%;
  /* Image covers the area without distortion */
  object-fit: cover;
}

/* Update profile */
.img-update-profile {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}

#new-photo-preview {
  display: none;
}

.img-profile {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* Thumbnail of the user profile image on the comment left on a post */
.thumbnail-comment {
  width: 50px;
  height: 50px;
}

/* Media queries */
/* For small screens: */
@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
}

/* For larger screens */
@media (min-width: 992px) {
  .profile-card {
    max-width: 800px;
    min-width: 600px;
  }

  /* When Search result finds no posts */
  .no-posts-card,
  .no-events-card {
    width: 75%;
    margin: 0 auto;
  }
}
