{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Profile</h2>
    <img src="{{ profile.image.url }}" alt="Profile Picture" class="img-thumbnail">
    <p><strong>Username:</strong> {{ profile.user.username }}</p>
    <p><strong>Email:</strong> {{ profile.user.email }}</p>
    <p><strong>Location:</strong> {{ profile.location }}</p>
    <p><strong>Bio:</strong> {{ profile.bio }}</p>
    
    {% if request.user == profile.user %}
    <a href="{% url 'user:update_profile' %}" class="btn btn-primary">Edit Profile</a>
    {% endif %}
</div>
{% endblock %}