{% extends "base.html" %}
{% load static %}
{% block title %} - Update Profile{% endblock %}

{% block content %}
<div class="container">
    <h2>Edit Your Profile</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Full Name -->
        <div class="form-group">
            <label for="id_full_name">Full Name:</label>
            {{ profile_form.full_name }}
            {% if profile_form.full_name.errors %}
                <div class="alert alert-danger">{{ profile_form.full_name.errors }}</div>
            {% endif %}
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="id_email">Email:</label>
            {{ user_form.email }}
            {% if user_form.email.errors %}
                <div class="alert alert-danger">{{ user_form.email.errors }}</div>
            {% endif %}
        </div>

        <!-- Display Email -->
        <div class="form-group">
            <label for="id_display_email">I would like for other users to see my e-mail</label>
            {{ profile_form.display_email }}
            {% if profile_form.display_email.errors %}
                <div class="alert alert-danger">{{ profile_form.display_email.errors }}</div>
            {% endif %}
        </div>

        <!-- Photo Upload Section -->
        <div class="form-group">
            <label for="id_profile_photo">Photo:</label>
            <div>
                <img id="profile-photo-preview" src="{{ profile_form.instance.photo.url }}" alt="Profile Picture" class="img-update-profile" data-current-photo-url="{{ profile_form.instance.photo.url }}">
            </div>
            <div>
                <input type="file" name="photo" id="id_profile_photo" accept="image/*">
            </div>
            {% if profile_form.instance.photo %}
                <div>
                    <input type="checkbox" name="photo-clear" id="delete-photo-checkbox">
                    <label for="delete-photo-checkbox">Delete photo</label><br>
                </div>
            {% endif %}
            {% if profile_form.photo.errors %}
                <div class="alert alert-danger">{{ profile_form.photo.errors }}</div>
            {% endif %}
        </div>

        <!-- Bio -->
        <div class="form-group">
            <label for="id_bio">Bio:</label>
            {{ profile_form.bio }}
            {% if profile_form.bio.errors %}
                <div class="alert alert-danger">{{ profile_form.bio.errors }}</div>
            {% endif %}
            <small id="bioHelp" class="form-text text-muted">Max 500 characters.</small>
        </div>

        <!-- Location -->
        <div class="form-group">
            <label for="id_location">Location:</label>
            {{ profile_form.location }}
            {% if profile_form.location.errors %}
                <div class="alert alert-danger">{{ profile_form.location.errors }}</div>
            {% endif %}
        </div>

        <!-- Custom Location -->
        <div class="form-group">
            <label for="id_custom_location">Custom Location:</label>
            {{ profile_form.custom_location }}
            {% if profile_form.custom_location.errors %}
                <div class="alert alert-danger">{{ profile_form.custom_location.errors }}</div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="fileSizeModal" tabindex="-1" aria-labelledby="fileSizeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="fileSizeModalLabel">File Size Error</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                File size must be less than 2MB.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extras %}
<script src="{% static 'js/custom_location.js' %}"></script>
<script src="{% static 'js/preview_photo.js' %}"></script>
{% endblock %}