{% extends "base.html" %}
{% load static %}
{% block title %} - Update Profile{% endblock %}

{% block content %}
<div class="container">
    <h2>Edit Your Profile</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Full Name -->
        <div class="form-group">
            <label for="id_full_name">Full Name:</label>
            {{ profile_form.full_name }}
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="id_email">Email:</label>
            {{ user_form.email }}
        </div>

        <!-- Display Email -->
        <div class="form-group">
            <label for="id_display_email">I would like for other users to see my e-mail</label>
            {{ profile_form.display_email }}
        </div>

        <!-- Photo -->
        <div class="form-group">
            <label for="id_photo">Photo:</label>
            {% if profile_form.instance.photo %}
                <div>
                    <!-- Current photo thumbnail -->
                    <img id="profile-photo-preview" src="{{ profile_form.instance.photo.url }}" alt="Profile Picture" class="img-update-profile">
                </div>
            {% endif %}
            <div>
                <input type="file" name="photo" id="id_photo" accept="image/*" onchange="displayProfilePhotoPreview(event)">
            </div>
            <div>
                <img id="preview-photo" class="img-update-profile" style="max-width: 150px; display: none;">
            </div>
            {% if profile_form.instance.photo %}
                <div>
                    <input type="checkbox" name="photo-clear" id="photo-clear_id">
                    <label for="photo-clear_id">Delete photo</label><br>
                </div>
            {% endif %}
        </div>

        <!-- Bio -->
        <div class="form-group">
            <label for="id_bio">Bio:</label>
            {{ profile_form.bio }}
        </div>

        <!-- Location -->
        <div class="form-group">
            <label for="id_location">Location:</label>
            {{ profile_form.location }}
        </div>

        <!-- Custom Location -->
        <div class="form-group">
            <label for="id_custom_location">Custom Location:</label>
            {{ profile_form.custom_location }}
        </div>

        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
</div>
{% endblock %}

{% block extras %}
<script src="{% static 'js/custom_location.js' %}"></script>
<script src="{% static 'js/preview_photo.js' %}"></script>
{% endblock %}
