{% extends "base.html" %}

{% block title %} - User Profile{% endblock %}

{% block content %}
<div class="container">
    <h2>Profile of {{ profile.user.username }}</h2>
    <img src="{{ profile.photo.url }}" alt="Profile Picture" class="img-thumbnail">
    <p><strong>Full Name:</strong> {{ profile.full_name }}</p>
    <p><strong>Username:</strong> {{ profile.user.username }}</p>
    {% if profile.display_email %}
    <p><strong>Email:</strong> {{ profile.user.email }}</p>
    {% endif %}
    <p><strong>Location:</strong> {{ profile.location }}</p>
    <p><strong>Bio:</strong> {{ profile.bio }}</p>

    {% if is_current_user %}
    <hr>
    <a href="{% url 'userinfo:update_profile' %}" class="btn btn-primary">Edit Profile</a>
    <a href="{% url 'userinfo:delete_account' %}" class="btn btn-danger">Delete Account</a>
    <hr>
    {% endif %}

    <h3>Comments</h3>
    <ul>
        {% for comment in comments %}
        <li>
            <a href="{% url 'post_detail' comment.post.slug %}#comment{{ comment.id }}">{{ comment.content|truncatewords:20 }}</a>
            <small>on {{ comment.created_on }}</small>
        </li>
        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}
