{% extends "base.html" %}
{% load static %}
{% block description %}Explore posts in the {{ category.name }} category. Find informative articles and resources tailored to your interests in parenting, expat life, and more.{% endblock %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="text-center category-title">
        <!-- Category title -->
        <span class="text-muted">Category:</span>
        <h2 class="fs-1">{{ category.name }}</h2>
        <hr>
      </div>
      <!-- Posts Section -->
      <section class="row">
        <h2 class="sr-only">Post Listings</h2>
        <!-- Determine if there are up to three posts on the current page -->
        {% if page_obj|length <= 3 %}
          <!-- Loop through each post and create a column for each post -->
          {% for post in page_obj %}
            <div class="col-md-4">
              <div class="post-card mb-4">
                <article class="card">
                  <!-- Post category -->
                  <header class="card-header">
                    <div class="card-meta">
                      <a href="{% url 'category_posts' post.category.slug %}" class="category-link" aria-label="View more posts in {{ post.category.name }} category">{{ post.category.name }}</a>
                    </div>
                    <!-- Post title -->
                    <a href="{% url 'post_detail' post.slug %}" class="post-link" aria-label="Read more about {{ post.title }}">
                      <h2 class="card-title">{{ post.title }}</h2>
                    </a>
                  </header>
                  <!-- Post image -->
                  <a href="{% url 'post_detail' post.slug %}" class="post-link" aria-label="Read more about {{ post.title }}">
                    {% if "placeholder" in post.featured_image.url %}
                      <img class="card-img" src="{% static 'images/kelly-sikkema-baby.webp' %}" alt="placeholder image">
                    {% else %}
                      <img class="card-img" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                    {% endif %}
                  </a>
                  <!-- Post excerpt -->
                  <div class="card-body">
                    <div class="card-text">{{ post.excerpt }}</div>
                  </div>
                </article>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <!-- Loop through each post in page_obj -->
          {% for post in page_obj %}
            <!-- Start a new column every 2 posts -->
            {% if forloop.counter0|divisibleby:2 %}
              <div class="col-md-4">
            {% endif %}
            
            <div class="post-card mb-4">
              <article class="card">
                <!-- Post category -->
                <header class="card-header">
                  <div class="card-meta">
                    <a href="{% url 'category_posts' post.category.slug %}" class="category-link" aria-label="View more posts in {{ post.category.name }} category">{{ post.category.name }}</a>
                  </div>
                  <!-- Post title -->
                  <a href="{% url 'post_detail' post.slug %}" class="post-link" aria-label="Read more about {{ post.title }}">
                    <h2 class="card-title">{{ post.title }}</h2>
                  </a>
                </header>
                <!-- Post image -->
                <a href="{% url 'post_detail' post.slug %}" class="post-link" aria-label="Read more about {{ post.title }}">
                  {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img" src="{% static 'images/kelly-sikkema-baby.webp' %}" alt="placeholder image">
                  {% else %}
                    <img class="card-img" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                  {% endif %}
                </a>
                <!-- Post excerpt -->
                <div class="card-body">
                  <p class="card-text">{{ post.excerpt }}</p>
                </div>
              </article>
            </div>

            <!-- Close the column after every 2 posts or if it's the last post -->
            {% if forloop.counter0|add:'1'|divisibleby:2 or forloop.last %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </section>
    </div>
  </div>
  
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <!-- Show First and Previous buttons if not on the first page -->
      {% if page_obj.has_previous %}
        <!-- Show First button if current page is greater than 2 (i.e., not displaying the first page) -->
        {% if page_obj.number > 2 %}
          <li class="page-item pag-btn-first">
            <a class="page-link" href="?page=1" aria-label="First page">
              <span aria-hidden="true">First</span>
            </a>
          </li>
        {% endif %}
        <li class="page-item pag-btn-prev">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous page">
            <span aria-hidden="true">Prev</span>
          </a>
        </li>
      {% endif %}

      <!-- Display page numbers, limiting to a range around the current page -->
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active pag-btn-current">
            <span class="page-link">{{ num }}</span>
          </li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <li class="page-item">
            <a class="page-link" href="?page={{ num }}" aria-label="Page {{ num }}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      <!-- Show Next and Last buttons if not on the last page -->
      {% if page_obj.has_next %}
        <li class="page-item pag-btn-next">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next page">
            <span aria-hidden="true">Next</span>
          </a>
        </li>
        <!-- Show Last button if current page is less than total pages minus 1 (i.e., not displaying the last page) -->
        {% if page_obj.number < page_obj.paginator.num_pages|add:'-1' %}
          <li class="page-item pag-btn-last">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last page">
              <span aria-hidden="true">Last</span>
            </a>
          </li>
        {% endif %}
      {% endif %}
    </ul>
  </nav>
{% endif %}
</div>

{% endblock %}
