{% extends "base.html" %}
{% load static %}
{% block description %}Explore posts on parenting in Munich. Browse articles, search for topics, and stay updated with the latest content tailored to your interests.{% endblock %}
{% block title %}Posts{% endblock %}
{% block content %}

  <section class="container wrapper">
    <header class="row container-fluid">
    <!-- Page title -->
      <div class="col-12 mt-3 text-center">
        {% if search_query %}
        <h1>Search results for "{{ search_query }}"</h1>
        {% else %}
        <h1>Posts</h1>
        {% endif %}
        <hr>
      </div>
    </header>
    <div class="wrapper mt-lg-4">
      {% if no_posts %}
      <div class="card no-posts-card">
        <a href="{% url 'posts' %}" aria-label="Return to all posts">
          <img src="https://res.cloudinary.com/daluxpssk/image/upload/v1718959860/no-posts_zknglr.webp" class="card-img-top no-posts-found" alt="image of a park with a sign that says no posts found">
        </a>
        <div class="card-body text-center">
          <p class="card-text">Please start a new search or
            <a href="{% url 'posts' %}" aria-label="Return to all posts">return to all posts</a>
          </p>
        </div>
      </div>
      {% else %}
      <section class="row">
        <h2 class="sr-only">Post Listings</h2>
      <!-- Determine if there are up to three posts on the current page -->
        {% if page_obj|length <= 3 %}
      <!-- Loop through each post and create a column for each post -->
        {% for post in page_obj %}
        <div class="col-md-4">
          <div class="post-card mb-4">
            <article class="card">
            <!-- Post category -->
              <header class="card-header">
                <div class="card-meta">
                  <a href="{% url 'category_posts' category_slug=post.category.slug %}" class="category-link" aria-label="View posts in {{ post.category.name }}">{{ post.category.name }}</a>
                </div>
              <!-- Post title -->
                <a href="{% url 'post_detail' post.slug %}" class="post-link" aria-label="Read more about {{ post.title }}">
                  <h2 class="card-title">{{ post.title }}</h2>
                </a>
              </header>
            <!-- Post image -->
              <a href="{% url 'post_detail' post.slug %}" class="post-link" aria-label="Read more about {{ post.title }}">
                {% if "placeholder" in post.featured_image.url %}
                <img class="card-img" src="{% static 'images/kelly-sikkema-baby.webp' %}" alt="placeholder image">
                {% else %}
                <img class="card-img" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                {% endif %}
              </a>
            <!-- Post excerpt -->
              <div class="card-body">
                <p class="card-text">{{ post.excerpt }}</p>
              </div>
            </article>
          </div>
        </div>
        {% endfor %}
        {% else %}
      <!-- Loop through each post in page_obj and create a card per post -->
        {% for post in page_obj %}
      <!-- Starts a new column for each even index on the iteration (0, 2, 4, etc.) -->
        {% if forloop.counter0|divisibleby:2 %}
        <div class="col-md-4">
        {% endif %}
        <!-- Creates a card for each post -->
          <div class="post-card mb-4">
            <article class="card">
            <!-- Post category -->
              <header class="card-header">
                <div class="card-meta">
                  <a href="{% url 'category_posts' category_slug=post.category.slug %}" class="category-link" aria-label="View posts in {{ post.category.name }}">{{ post.category.name }}</a>
                </div>
              <!-- Post title -->
                <a href="{% url 'post_detail' post.slug %}" class="post-link" aria-label="Read more about {{ post.title }}">
                  <h2 class="card-title">{{ post.title }}</h2>
                </a>
              </header>
            <!-- Post image -->
              <a href="{% url 'post_detail' post.slug %}" class="post-link" aria-label="Read more about {{ post.title }}">
                {% if "placeholder" in post.featured_image.url %}
                <img class="card-img" src="{% static 'images/kelly-sikkema-baby.webp' %}" alt="placeholder image">
                {% else %}
                <img class="card-img" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                {% endif %}
              </a>
            <!-- Post excerpt -->
              <div class="card-body">
                <p class="card-text">{{ post.excerpt }}</p>
              </div>
            </article>
          </div>
        <!-- Post Card ends  -->
        <!-- Checks if the one-based index is divisible by 2 (meaning it is an odd index) or if it is the last post-->
          {% if forloop.counter0|add:'1'|divisibleby:2 or forloop.last %}
      <!-- If it is, closes the column -->
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </section>
      {% endif %}
      {% if is_paginated %}
      <div class="container px-3">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
          <!-- Show First and Previous buttons if not on the first page -->
            {% if page_obj.has_previous %}
          <!-- Show First button if current page is greater than 2 (i.e., not displaying the first page) -->
            {% if page_obj.number > 2 %}
            <li class="page-item">
              <a class="page-link" href="?page=1{% if search_query %}&q={{ search_query }}{% endif %}" aria-label="First">
                <span aria-hidden="true">First</span>
              </a>
            </li>
            {% endif %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}" aria-label="Previous">
                <span aria-hidden="true">Prev</span>
              </a>
            </li>
            {% endif %}

          <!-- Display page numbers, limiting to a range around the current page -->
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active">
              <span class="page-link">{{ num }}</span>
            </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item">
              <a class="page-link" href="?page={{ num }}{% if search_query %}&q={{ search_query }}{% endif %}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

          <!-- Show Next and Last buttons if not on the last page -->
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}" aria-label="Next">
                <span aria-hidden="true">Next</span>
              </a>
            </li>
          <!-- Show Last button if current page is less than total pages minus 1 (i.e., not displaying the last page) -->
            {% if page_obj.number < page_obj.paginator.num_pages|add:'-1' %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if search_query %}&q={{ search_query }}{% endif %}" aria-label="Last">
                <span aria-hidden="true">Last</span>
              </a>
            </li>
            {% endif %}
            {% endif %}
          </ul>
        </nav>
      </div>
      {% endif %}
    </div>
  </section>

{% endblock %}
