{% extends "base.html" %}
{% load static %}
{% block title %}
Parenting in Munich - Posts
{% endblock %}
{% block content %}

<!-- index.html content starts here -->
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-12 mt-3">
      <div class="row">
        {% for post in post_list %}
        <div class="col-md-4">
          <article class="card mb-4">
            <header class="card-header">
              <div class="card-meta">
                <a href="{% url 'category_posts' post.category.id %}" class="category-link"
                  >{{ post.category }}</a
                >
              </div>
              <a href="{% url 'post_detail' post.slug %}" class="post-link">
                <h2 class="card-title">{{ post.title }}</h2>
              </a>
            </header>
            <a href="{% url 'post_detail' post.slug %}" class="post-link">
              {% if "placeholder" in post.featured_image.url %}
              <img
                class="card-img"
                src="{% static 'images/kelly-sikkema-baby.webp' %}"
                alt="placeholder image"
              />
              {% else %}
              <img
                class="card-img"
                src=" {{ post.featured_image.url }}"
                alt="{{ post.title }}"
              />
              {% endif %}
            </a>
            <div class="card-body">
              <p class="card-text">{{ post.excerpt }}</p>
            </div>
          </article>
          <!-- /.card -->
        </div>

        <!-- Defines how many articles per row will be shown -->
        {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">{% endif %} {% endfor %}</div>
    </div>
  </div>
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <!-- Link to first page -->
        <a class="page-link" href="?page=1" aria-label="First">
          <span aria-hidden="true">&laquo;&laquo; First</span>
        </a>
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ page_obj.previous_page_number }}"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo; Prev</span>
        </a>
      </li>
      {% endif %} {% for num in page_obj.paginator.page_range %}
      <!-- Checks if the current page number (page_obj.number) is equal to the loop variable num (current page).
      generates a list element with the class active to visually indicate that this is the current page.-->
      {% if page_obj.number == num %}
      <li class="page-item active">
        <span class="page-link">{{ num }}</span>
      </li>
      <!-- To limit the amount of pages shown as links. -->
      <!-- If num is within this range, it displays the page number. -->
      {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5'%}
      <li class="page-item">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endif %} {% endfor %} {% if page_obj.has_next %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ page_obj.next_page_number }}"
          aria-label="Next"
        >
          <span aria-hidden="true">Next &raquo;</span>
        </a>
      </li>
      <!-- Link to last page -->
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ page_obj.paginator.num_pages }}"
          aria-label="Last"
        >
          <span aria-hidden="true">Last &raquo;&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}
