{% extends 'base.html' %}
{% block title %}403{% endblock %}
{% block content %}

<div class="error-page-img container d-flex justify-content-center align-items-center">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body text-center">
          <a href="{% url 'home' %}" aria-label="Go to main page">
            <img
            src="https://res.cloudinary.com/daluxpssk/image/upload/v1719254115/403-error_2_axis88.webp"
            class="img-fluid"
            alt="Forbidden 403 error Page"
            >
          </a>
          <p class="mt-3">You do not have permission to access this resource. <a href="{% url 'home' %}" aria-label="Go to main page">Go to main page</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
