{% extends 'base.html' %}
{% block title %}404 - Page Not Found{% endblock %}
{% block content %}

<div class="error-page-img container d-flex justify-content-center align-items-center">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body text-center">
          <a href="{% url 'home' %}" aria-label="Go to main page">
            <img
            src="https://res.cloudinary.com/daluxpssk/image/upload/v1717930876/error-page_ssoiki.webp"
            class="img-fluid"
            alt="Page Not Found image"
            >
          </a>
          <p class="mt-3">The page you are looking for could not be found, please <a href="{% url 'home' %}" aria-label="Go to main page">go to main page</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
