{% extends 'base.html' %}
{% block title %}404 - Page Not Found{% endblock %}
{% block content %}
<div class="container-fluid">
  <div
    class="row d-flex flex-column align-items-center justify-content-center text-center"
  >
    <div class="col-md-8">
      <section class="error-page">
        <div id="error-img">
          <img
            src="https://res.cloudinary.com/daluxpssk/image/upload/v1717930876/error-page_ssoiki.webp"
            alt="Page Not Found"
            class="mb-4"
          />
        </div>
        <p><a href="/">Go to Home</a></p>
      </section>
    </div>
  </div>
</div>
{% endblock %}
