<footer class="footer-container text-center">
  <ul id="footer-links" class="d-flex list-unstyled mb-0 justify-content-around align-items-center">
    <li class="p-2">
      <a href="{% url 'site_rules' %}" aria-label="Go to the site rules page">
        <i class="fa-solid fa-file-circle-check"></i> Policy
      </a>
    </li>
    <li class="p-2">
      &copy; {% now "Y" %} Parenting in Munich. All rights reserved.
    </li>
    <li class="p-2">
      <a href="{% url 'about' %}" aria-label="Go to the contact us page">
        <i class="fa-solid fa-envelope"></i> Contact us
      </a>
    </li>
  </ul>
</footer>
