{% url 'home' as home_url %}
{% url 'posts' as posts_url %}
{% url 'category_posts' category_slug=category.slug as category_posts_url %}
{% url 'about' as about_url %}
{% url 'events' as events_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'useful_links' as useful_links_url %}
{% url 'userinfo:user_profile' username=request.user.username as profile_url %}

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Logo -->
    <a
      id="logo"
      class="navbar-brand"
      href="{% url 'home' %}"
      aria-label="Go to home page"
    >
      <h1>Parenting in Munich</h1>
    </a>
    <!-- Toggle button for small screens -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navigation items -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link{% if request.path == home_url %} active"
            aria-current="page{% endif %}"
            href="{% url 'home' %}"
            aria-label="Go to Home page"
            >Home</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle{% if request.path == posts_url or request.path == category_posts_url %} active"
            aria-current="page{% endif %}"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-label="Posts menu"
            >Posts</a
          >
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="{% url 'posts' %}"
                aria-label="View All Categories"
                >All Categories</a
              >
            </li>
            {% for category in categories %}
            <li>
              <a
                class="dropdown-item"
                href="{% url 'category_posts' category_slug=category.slug %}"
                aria-label="View {{ category.name }} Posts"
                >{{ category.name }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link{% if request.path == about_url %} active"
            aria-current="page{% endif %}"
            href="{% url 'about' %}"
            aria-label="Go to About page"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link{% if request.path == events_url %} active"
            aria-current="page{% endif %}"
            href="{% url 'events' %}"
            aria-label="Go to Events page"
            >Events</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link{% if request.path == useful_links_url %} active"
            aria-current="page{% endif %}"
            href="{% url 'useful_links' %}"
            aria-label="Go to Useful Links page"
            >Useful Links</a
          >
        </li>
      </ul>

      {% if request.path == posts_url or request.path == category_posts_url %}
      <!-- Search form to be shown only on posts page-->
      <form
        class="d-flex"
        role="search"
        method="get"
        action="{% url 'posts' %}"
      >
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search in posts"
          aria-label="Search"
          name="q"
        >
        <button
          class="btn btn-outline-secondary"
          type="submit"
          aria-label="Submit Search"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      {% endif %}
      <!-- Authentication links -->
      <ul class="navbar-nav ml-auto">
        <!-- Logged in user will see a message that they're logged in-->
        {% if user.is_authenticated %}
          {% if user.is_staff %}
        <li class="nav-item">
          <a
            class="nav-link"
            href="{% url 'admin:index' %}"
            aria-label="Go to Admin Panel"
            >Admin Panel</a
          >
        </li>
        {% endif %}
        <!-- To go to profile page -->
        <li class="nav-item">
          <a
            class="nav-link{% if request.path == profile_url %} active"
            aria-current="page{% endif %}"
            href="{% url 'userinfo:user_profile' username=request.user.username %}"
            aria-label="Go to Profile"
            >{{ user|truncatechars:15 }}</a
          >
        </li>
        <!-- To logout -->
        <li class="nav-item">
          <a
            class="nav-link{% if request.path == logout_url %} active"
            aria-current="page{% endif %}"
            href="{% url 'account_logout' %}"
            aria-label="Logout"
            >Logout</a
          >
        </li>
        {% else %}
        <!-- Logged out user, to see the link to sign up or login -->
        <li class="nav-item">
          <a
            class="nav-link{% if request.path == signup_url %} active"
            aria-current="page{% endif %}"
            href="{% url 'account_signup' %}"
            aria-label="Sign up"
            >Sign up</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link{% if request.path == login_url %} active"
            aria-current="page{% endif %}"
            href="{% url 'account_login' %}"
            aria-label="Login"
            >Login</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
