{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<section class="about-us">
  <div class="container mt-5">
    <div class="row">
      <div class="col-4 text-center">
        {% if "placeholder" in about.profile_image.url %}
        <img
          class="about-img"
          src="{% static 'images/nobody.jpg' %}"
          alt="placeholder image"
        />
        {% else %}
        <img
          src="{{ about.profile_image.url }}"
          alt="{{ about.title }}"
        />
        {% endif %}
      </div>
      <div class="col-8">
        <!-- Title -->
        <h2>{{ about.title }}</h2>
        <!-- Content -->
        {{ about.content | safe }}
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <!-- Last update -->
        <p class="text-end"><em>{{ about.updated_on }}</em></p>
      </div>
    </div>
  </div>
</section>
  <!-- Contact us section -->
<section class="contact-us">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 my-5">
      <h2>We'd Love to Hear from You!</h2>
      <p>
        Your thoughts, questions, and feedback are important to us. Whether you
        have a parenting tip, a question about our content, or just want to say
        hello, please fill out the form below, and we will get back to you as
        soon as possible.
      </p>

      <!-- Form -->
      <form method="post">
        {{ contact_us_form | crispy }}
        {% csrf_token %}
        <button class="btn btn-secondary"
          type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
