{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section class="pt-4">
  <div class="container">
    <div class="row container-fluid justify-content-center">
      <div class="col-md-8">
        <article class="card mb-3">
          <header class="card-header text-center">
            <!-- Title -->
            <h1 class="post-title">{{ about.title }}</h1>
            <hr>
          </header>
          <!-- Image -->
          {% if "placeholder" in about.profile_image.url %}
          <img
            src="https://res.cloudinary.com/daluxpssk/image/upload/v1717744760/nobody_jm5djw.jpg"
            alt="placeholder image"
          />
          {% else %}
          <img src="{{ about.profile_image.url }}" alt="about page image" />
          {% endif %}
          <!-- Content -->
          <div class="card-body">
            <!-- Last update -->
            <p class="text-about-us text-end"><em>Updated on: {{ about.updated_on }}</em></p>
            <p class="card-text">{{ about.content | safe }}</p>
            <hr />
            <!-- Contact us section -->
            <section id="contact-us">
              <div class="my-3">
                <h2>We'd Love to Hear from You!</h2>
                <p>
                  Your thoughts, questions, and feedback are important to us. Whether you
                  have a parenting tip, a question about our content, or just want to say
                  hello, please fill out the form below, and we will get back to you as
                  soon as possible.
                </p>

                <!-- Form -->
                <form method="post">
                  {{ contact_us_form | crispy }}
                  {% csrf_token %}
                  <button class="btn btn-secondary" type="submit">Submit</button>
                </form>
              </div>
            </section>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
