@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=PT+Sans+Caption:wght@400;700&display=swap");

:root {
  /** Fonts */
  --title: "EB Garamond", serif;
  --main-font: "PT Sans Caption", sans-serif;

  /* Colours */
  --black: #000;
  --dark-gray: #424242;
  --off-white: #f2f2f2;
  --white: #fff;
  --fair-blue: #f7fdff;
  --blue: #043c4e;
  --red: #d50000;
  --hyperlink-blue: #0000ee;

  /* Utils */
  --box-shadow: 0 18px 32px -18px var(--black);
  --border: 1px solid #00000030;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--white);
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}


body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
  font-weight: 700;
}

main {
  flex: 1 0 auto;
  background-color: var(--white);
}

/* Footer */
footer {
  flex-shrink: 0;
  background-color: var(--off-white);
  border-top: var(--border);
  padding: 4px 0;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  transition: all 0.25s ease-in-out;
}

body a {
  color: var(--hyperlink-blue);
}

#logo,
.category-link
a.btn:hover,
.post-link:hover,
#link-post-comment {
  text-decoration: none;
}

.post-link,
.category-link,
.comments-link, #link-post-comment {
  color: inherit;
}

.list-group-item a:hover,
.comments-link:hover, #link-post-comment:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* allauth Check box for e-mail and delete photo in update profile */
.form-check-input {
  border: 1px solid var(--dark-gray);
}

#footer-links a {
  color: var(--dark-gray);
  text-decoration: none;
  justify-content: space-between;
}

/* Hero */
#hero,
#hero-logout {
  width: 100%;
  height: 90vh;
  background: url("https://res.cloudinary.com/daluxpssk/image/upload/v1717940049/children-park2_c5wppe.jpg")
    center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#hero-logout {
  background: url("https://res.cloudinary.com/daluxpssk/image/upload/v1718108422/boys-playing-friends-children-playing-ecfc0c859c9f575352f9f012f6c97c60-2_cmybmu.jpg")
    center center;
}

#hero:before,
#hero-logout:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

/* From allauth forms(got the ids using dev tools on chrome) */
#id_username,
#id_login,
#id_password,
#id_email,
#id_password1,
#id_password2,
#id_full_name,
#id_bio,
#id_location,
#id_custom_location {
  width: 100%;
  border-radius: 0;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-delete {
  text-transform: capitalize;
  color: var(--red);
  border-color: var(--red);
  border-radius: 0;
}

.btn-edit {
  text-transform: capitalize;
  color: var(--dark-gray);
  border-color: var(--dark-gray);
  border-radius: 0;
}

.btn-close-message {
  outline: none;
  border: none;
}

.btn-close-message:focus {
  outline: none;
  box-shadow: none;
}

.alert {
  border-radius: 0;
  padding: 0.75rem;
}

.btn-outline {
  border-color: var(--white);
  border-radius: 0;
}

.navbar,
.card-header {
  background-color: var(--white) !important;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.form-control {
  border-radius: 0;
  flex: 1;
}

.card {
  border: none;
  border-radius: 0;
}

.useful-links {
  min-height: 100vh;
  width: 100%;
}

.align-items-center {
  align-items: center !important;
}

.pagination {
  --bs-pagination-color: var(--black);
  --bs-pagination-hover-color: var(--dark-gray);
  --bs-pagination-focus-color: var(--dark-gray);
  --bs-pagination-active-bg: var(--dark-gray);
  --bs-pagination-active-border-color: var(--dark-gray);
  --bs-pagination-border-width: 0.5px;
  --bs-pagination-border-radius: 0;
}

.category-title {
  padding-bottom: 15px;
}

.post-card {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.card {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none;
  border-radius: 0;
}

.no-border-card {
  border-bottom: none;
}

.card-img {
  border-radius: 0;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  width: 100%;
  height: auto;
  /* Image covers the area without distortion */
  object-fit: cover;
}

.card-img:hover {
  box-shadow: var(--box-shadow);
  transform: translateY(-6px);
}

.restricted-area-card-img,
.error-page-card-img {
  border-radius: 0;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  height: 75vh;
  max-width: 100%;
  /* Image covers the area without distortion */
  object-fit: cover;
}

/* Update profile */
.img-update-profile {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

#new-photo-preview {
  display: none;
}

.img-profile {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

#thumbnail-post-comment {
  width: 50px;
  height: 50px;
}

/* Media queries */
/* For small screens: */
@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
}
